body{
    background-color:#ecf0f1;
}

.btn{
    cursor: pointer;
}
body{
    color :#ff7675;
    font-size:2rem;
}

.clicked{
    color:#81ecec
}

.form,
.greetings{
    display:none;
    background-color:white;
    position: static;
    width:160px;
}

.showing{
    display:block;
}